@model IEnumerable<Medical.ViewModel.CClinicDetailViewModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h3 class="display-3 text-white animated zoomIn">即時門診</h3>
        </div>
    </div>
</div>
<!-- Hero End -->

<div style="display: flex; /* 水平置中*/ justify-content: center; /* 垂直置中 */ align-items: center; flex-wrap: wrap;">
    @foreach (var item in Model)
    {

        <div class="col-3 wow zoomIn" data-wow-delay="0.1s" style="float: left; border: solid 2px black; margin: 20px; border-radius: 15%; width: 400px; ">
            <div class="bg-primary d-flex flex-column p-5" style="height: 300px; width: auto; border-radius: 15%">
                <h2>診間:  @item.Room.RoomName</h2>

                <div class="d-flex justify-content-between text-white mb-3">
                    <h4 class="text-white mb-3">
                        醫生姓名:
                    </h4>
                    <p class="mb-0">
                        @item.Doctor.DoctorName
                    </p>
                </div>
                <div class="d-flex justify-content-between text-white mb-3">
                    <h4 class="text-white mb-3">
                        科目:
                    </h4>
                    <p class="mb-0">
                        @item.Department.DeptName
                    </p>
                </div>
                <div class="d-flex justify-content-between text-white mb-3">
                    <h4 class="text-white mb-3">
                        現在號碼:
                    </h4>
                    <strong class="mb-0" style="color:red;font-size:larger">
                        @item.Room.Number
                    </strong>
                </div>
            </div>
        </div>

    }

</div>

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">即時診間</font></font></h3>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">診間編號</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">看診醫師</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">科別</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">現在號碼</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">501</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使命召喚IV</font></font></td>
                        <td><span class="badge badge-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">已發貨</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,80,90,-70,61,-83,63</font></font></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">502</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三星智能電視</font></font></td>
                        <td><span class="badge badge-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">待辦的</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,80,-90,70,61,-83,68</font></font></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">503</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">iPhone 6 加</font></font></td>
                        <td><span class="badge badge-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">發表</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,-80,90,70,-61,83,63</font></font></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">504</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三星智能電視</font></font></td>
                        <td><span class="badge badge-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">加工</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#00c0ef" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,80,-90,70,-61,83,63</font></font></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">505</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三星智能電視</font></font></td>
                        <td><span class="badge badge-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">待辦的</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,80,-90,70,61,-83,68</font></font></div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="pages/examples/invoice.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">506</font></font></a></td>
                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">iPhone 6 加</font></font></td>
                        <td><span class="badge badge-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">發表</font></font></span></td>
                        <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">90,-80,90,70,-61,83,63</font></font></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="card-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info float-left"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">刷新</font></font></a>
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看所有訂單</font></font></a>
    </div>

</div>

